<!-- The routed views render in the <router-outlet>-->


<div class="container">
  <div class="Encabezado">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a mat-button [routerLink]="'/estudiantes'"> Estudiantes </a>
        <a mat-button [routerLink]="'/personajes'"> Personajes </a>
        <a mat-button [routerLink]="'/profesores'"> Profesores </a>
      </mat-toolbar-row>
    </mat-toolbar>
 
  </div>

  <div class="Body">
    <router-outlet></router-outlet>
  </div>
</div>